In [69]:
import pandas as pd
from io import StringIO
from sklearn import preprocessing
from sklearn.compose import ColumnTransformer

In [26]:
cvs_data = \
'''A,B,C,D
1.0,2.0,3.0,4.0
5.0,6.0,,8.0
10.0,11.0,12.0,
7.0,4.0,9.0,8.0'''
df = pd.read_csv(StringIO(cvs_data))
df

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN
3   7.0   4.0   9.0  8.0

In [27]:
'''this gives us the number of missing values in each column'''
df.isnull().sum()

A    0
B    0
C    1
D    1
dtype: int64

In [28]:
df.dropna(axis=0)

     A    B    C    D
0  1.0  2.0  3.0  4.0
3  7.0  4.0  9.0  8.0

In [29]:
df.dropna(axis=1)

      A     B
0   1.0   2.0
1   5.0   6.0
2  10.0  11.0
3   7.0   4.0

In [30]:
'''there are some additional parameters for dropna like droping the rows or columns only if all the row/ columns
have na'''
df.dropna(how="all")

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN
3   7.0   4.0   9.0  8.0

In [31]:
'''or you can have a threshold for how many less real value to drop'''
df.dropna(axis=1,thresh=3)

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN
3   7.0   4.0   9.0  8.0

In [32]:
'''only drop the rows if the missing data is in specific columns'''
df.dropna(subset=["D"])

     A    B    C    D
0  1.0  2.0  3.0  4.0
1  5.0  6.0  NaN  8.0
3  7.0  4.0  9.0  8.0

In [33]:
'''since sometimes we don't want to get rid of too many features or too many observations, we need to introduce 
some interpolation methods. like mean imputation aka replace the miss entries with the mean of entire feature column
we use sklearn to do that scikit learn'''
from sklearn.impute import SimpleImputer
import numpy as np
imputer = SimpleImputer(missing_values=np.nan,strategy='median')
imputer_data =imputer.fit_transform(df.values)
imputer_data

array([[ 1.,  2.,  3.,  4.],
       [ 5.,  6.,  9.,  8.],
       [10., 11., 12.,  8.],
       [ 7.,  4.,  9.,  8.]])

In [34]:
""" this is the example dataset """
import pandas as pd 
df = pd.DataFrame([
    ['green','M',10.1,'class1'],
    ['red','L',13.5,'class2'],
    ['blue','XL',15.3,'class1']
])
df.columns = ['color','size','prize','classlabel']
df

   color size  prize classlabel
0  green    M   10.1     class1
1    red    L   13.5     class2
2   blue   XL   15.3     class1

In [35]:
size_mapping = {'XL':3,
               'L':2,
               'M':1}
invert_size_mapping = {v:k for k,v in size_mapping.items() }

df['size'] = df['size'].map(size_mapping)

df

   color  size  prize classlabel
0  green     1   10.1     class1
1    red     2   13.5     class2
2   blue     3   15.3     class1

In [36]:
def invertMapping(mapping):
    mapping = {v:k for k,v in mapping.items()}
    return mapping
def mapping(panda_series):
    mapping = {k:v for v,k in enumerate(np.unique(panda_series))}
    return mapping

In [37]:

df['size']=df['size'].map(invert_size_mapping)
df

   color size  prize classlabel
0  green    M   10.1     class1
1    red    L   13.5     class2
2   blue   XL   15.3     class1

In [38]:
'''when we introduce numpy, then we can use the np enumerate function'''

classlabel_mapping = {label:idx for idx,label in enumerate(np.unique(df['classlabel']))}
classlabel_mapping

{'class1': 0, 'class2': 1}

In [39]:
df['classlabel']=df['classlabel'].map(classlabel_mapping)
df

   color size  prize  classlabel
0  green    M   10.1           0
1    red    L   13.5           1
2   blue   XL   15.3           0

In [40]:
df['classlabel']=df['classlabel'].map(invertMapping(classlabel_mapping))
df

   color size  prize classlabel
0  green    M   10.1     class1
1    red    L   13.5     class2
2   blue   XL   15.3     class1

In [48]:
X = df[['color','prize','prize']].values
X

array([['green', 10.1, 10.1],
       ['red', 13.5, 13.5],
       ['blue', 15.3, 15.3]], dtype=object)

In [43]:
color_le = preprocessing.LabelEncoder()
X[:,0] = color_le.fit_transform(X[:,0])
X

array([[1, 10.1, 10.1],
       [2, 13.5, 13.5],
       [0, 15.3, 15.3]], dtype=object)

In [78]:
'''the problem with this LabelEncoder is that it automatically thinks 
blue is smallest and red is largest even though it is not ordinal. In order
to deal with this, we have to introduce one hot encoder'''


X

array([['green', 10.1, 10.1],
       ['red', 13.5, 13.5],
       ['blue', 15.3, 15.3]], dtype=object)

In [97]:
data = pd.get_dummies(df[['prize','color','size']]).values

In [96]:
data

   prize  color_blue  color_green  color_red  size_L  size_M  size_XL
0   10.1           0            1          0       0       1        0
1   13.5           0            0          1       1       0        0
2   15.3           1            0          0       0       0        1

In [98]:
df_wine = pd.read_csv('https://archive.ics.uci.edu/'
                             'ml/machine-learning-databases/'
                             'wine/wine.data', header=None)

In [102]:
df_wine.columns=['Class label', 'Alcohol','Malic acid', 'Ash', 'Alcalinity of ash', 'Magnesium','Total phenols', 'Flavanoids','Nonflavanoid phenols','Proanthocyanins','Color intensity', 'Hue','OD280/OD315 of diluted wines','Proline']

In [104]:
df_wine.head()

,Class label,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [107]:
from sklearn.model_selection import train_test_split
X,y = df_wine.iloc[:,1:].values,df_wine.iloc[:,0].values

In [115]:
X
X.shape

(178, 13)

In [110]:
train_X,test_X,train_y,test_y = train_test_split(X,y,test_size=0.3,random_state=1,stratify=y)

In [116]:
train_X.shape
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
sd = StandardScaler()
mm = MinMaxScaler()
train_X_std = sd.fit_transform(train_X)
test_X_std = sd.fit_transform(test_X)
train_X_norm = mm.fit_transform(train_X)
test_X_norm = mm.fit_transform(test_X)
test_X_std

array([[ 5.08577188e-01,  1.03651802e+00,  1.34337248e+00,
         1.43887129e+00, -2.50026476e-01, -1.25320251e+00,
        -1.58657165e+00,  1.40189247e+00, -1.69424012e+00,
        -3.25611341e-01, -3.15520387e-01, -7.94492150e-01,
        -8.00019557e-01],
       [-6.61035048e-15, -2.09702278e-01,  1.45350727e+00,
         2.08934471e+00,  9.16006090e-01, -1.92242353e-01,
        -7.85674966e-01, -7.45687483e-01, -1.63055613e-02,
         8.98522466e-01, -1.54825120e+00, -1.84334950e+00,
        -1.11496855e+00],
       [ 1.30245377e+00,  3.88875975e-01,  4.62294173e-01,
         3.00542811e-01, -6.18247287e-01, -1.04101048e+00,
        -1.39688560e+00,  8.64997480e-01, -5.47928391e-01,
         2.05588534e+00, -1.50422510e+00, -1.29736896e+00,
        -3.35884199e-01],
       [-1.57534885e+00, -1.20079086e+00,  8.29410133e-01,
        -3.49930607e-01, -4.34136882e-01, -1.92242353e-01,
         1.94369664e-01, -1.10361747e+00,  1.29613830e+00,
        -9.04292777e-01, -7.55781393e-01,  6.71034562e-01,
        -8.00019557e-01],
       [-1.01715438e+00,  1.03651802e+00, -5.28918921e-01,
        -3.49930607e-01, -8.02357692e-01,  8.68717804e-01,
         1.01634258e+00,  9.54479978e-01,  2.06034612e+00,
        -1.23814745e+00,  2.01786294e+00,  3.11836838e-01,
        -1.17795835e+00],
       [ 7.56663620e-01, -6.70901915e-01,  5.35717365e-01,
        -7.72738329e-01,  4.25045010e-01,  1.76645332e+00,
         1.73293435e+00, -1.37206497e+00,  7.81128684e-01,
         7.64980596e-01, -3.15520387e-01,  3.69308474e-01,
         1.73614865e+00],
       [-1.27764513e+00, -3.30726296e-02, -2.40121032e+00,
        -5.12548962e-01, -2.50026476e-01, -1.43274961e-01,
         1.52217207e-01, -7.45687483e-01, -2.82116976e-01,
        -7.93007886e-01,  1.35747143e+00,  4.98619655e-01,
        -1.70121571e-01],
       [-7.44259299e-02, -4.55021234e-01,  7.19275345e-01,
        -3.49930607e-01, -1.88656341e-01,  2.15819246e-01,
         4.26208178e-01, -4.77239989e-01, -2.15664123e-01,
        -3.70125298e-01,  6.97079925e-01, -1.47936248e-01,
         1.13940319e+00],
       [-9.17919802e-01, -9.26033629e-01, -1.59355521e+00,
         1.70448127e-01, -1.41605904e+00, -3.39144529e-01,
        -2.69307365e-02, -6.56204985e-01, -8.80192660e-01,
        -1.78715284e-01,  6.97079925e-01,  1.24575092e+00,
        -8.33172082e-01],
       [-1.06677166e+00,  2.55749555e+00,  6.82563749e-01,
         6.25779520e-01, -7.40987557e-01, -1.53068440e+00,
        -1.63926222e+00,  1.67033996e+00, -1.27890978e+00,
        -5.48181124e-01, -9.31885795e-01, -1.92955696e+00,
        -1.36969045e-01],
       [-9.30324123e-01,  1.68416006e+00,  9.51782120e-02,
         6.25779520e-01, -8.02357692e-01, -2.90177137e-02,
        -1.16504708e+00,  1.40189247e+00, -8.80192660e-01,
         1.14334923e+00, -1.76838170e+00, -1.48415178e+00,
        -8.00019557e-01],
       [ 1.38928402e+00, -3.96144685e-01,  2.78736192e-01,
        -1.13049871e+00,  1.59107758e+00,  7.87105484e-01,
         1.09010938e+00, -5.66722487e-01,  1.19645902e+00,
         2.48618699e-01,  3.44871121e-01,  1.87793891e+00,
         1.00679309e+00],
       [-1.42649699e+00, -1.00453570e+00, -1.98514556e-01,
         6.25779520e-01, -4.54593593e-03,  1.73380839e+00,
         1.20602864e-01, -1.90895996e+00,  1.33213360e-01,
        -8.33070447e-01,  1.24740618e-01,  7.42874107e-01,
         4.13362879e-01],
       [ 1.47611428e+00, -1.90076761e-01,  1.34337248e+00,
         3.00542811e-01,  1.16148663e+00,  7.87105484e-01,
         1.17441429e+00, -1.19309997e-01,  6.64836190e-01,
         4.97896856e-01,  4.76949423e-01,  5.32144775e-02,
         1.71957239e+00],
       [-2.85299398e-01,  8.59888370e-01,  1.68601404e-01,
         3.00542811e-01,  1.79564469e-01, -1.66126411e+00,
        -8.48903652e-01, -9.24652479e-01, -1.22907014e+00,
         1.41785203e-01, -9.75911895e-01, -1.71403832e+00,
        -7.66867031e-01],
       [-7.31854977e-01,  3.10373909e-01, -6.75765305e-01,
         6.25779520e-01, -8.02357692e-01,  3.79043885e-01,
         2.57598350e-01, -7.45687483e-01, -5.81154818e-01,
        -1.37168932e+00, -2.71494287e-01,  2.39997294e-01,
        -1.44649380e+00],
       [ 1.17841056e+00, -4.74646750e-01, -2.71937749e-01,
        -1.00040403e+00,  1.52970744e+00,  1.11355476e+00,
         1.20602864e+00, -9.24652479e-01,  8.80807964e-01,
         2.53070095e-01,  5.65001624e-01,  1.57621283e+00,
         6.19461079e-02],
       [-7.44259299e-02, -6.25109043e-02,  3.17895228e+00,
         1.92672636e+00,  1.40696717e+00,  5.09623597e-01,
         6.89661036e-01,  1.13344497e+00,  5.81770122e-01,
        -6.68368807e-01,  7.41106026e-01,  8.43449469e-01,
         2.27708736e-01],
       [ 1.17841056e+00,  3.56166781e-02,  9.39544921e-01,
        -4.80025291e-01,  1.22285677e+00,  4.60656205e-01,
         5.10513093e-01, -2.98274993e-01, -5.31315178e-01,
        -1.40136448e-02,  4.32923322e-01,  1.38943001e+00,
         1.76930117e+00],
       [ 8.31089550e-01,  6.34194931e-01, -1.98514556e-01,
         9.51016229e-01, -6.79617422e-01, -1.57965179e+00,
        -1.41796182e+00,  5.96549986e-01, -8.96805874e-01,
         2.00246859e+00, -1.15201630e+00, -1.34047269e+00,
        -4.85070564e-01],
       [ 1.37687970e+00, -4.05957443e-01, -1.98514556e-01,
        -9.02833013e-01,  1.03874636e+00,  1.44000404e+00,
         1.02688069e+00, -7.45687483e-01,  7.64515470e-01,
         5.78021978e-01, -9.53898845e-02,  1.00149647e+00,
         6.91844094e-01],
       [-1.37687970e+00, -5.92399849e-01,  2.42024596e-01,
         9.51016229e-01, -9.25097962e-01, -1.41642715e+00,
        -8.17289309e-01,  1.40189247e+00,  9.99869327e-02,
        -6.59466016e-01,  3.88897221e-01,  5.32144775e-02,
        -1.03208724e+00],
       [-7.44259299e-02,  3.61727344e+00, -8.22611690e-01,
         7.88397875e-01, -9.25097962e-01,  4.93301133e-01,
         6.58046693e-01, -3.87757491e-01,  7.31289043e-01,
        -1.10460558e+00, -1.01993800e+00,  6.99770380e-01,
        -1.26415491e+00],
       [ 1.35207106e+00, -3.47080893e-01,  3.52159384e-01,
        -1.26059339e+00,  6.70525550e-01,  1.55426129e+00,
         1.43786715e+00, -2.98274993e-02,  6.64836190e-01,
         7.42723618e-01,  3.88897221e-01,  3.40572656e-01,
         2.28316532e+00],
       [ 2.85299398e-01, -1.15172707e+00,  2.17550199e-02,
        -6.75167317e-01,  5.47785280e-01,  3.46398957e-01,
        -7.64598738e-01,  1.84930496e+00, -1.91021189e+00,
        -8.50876029e-01,  2.56818920e-01, -9.81274966e-01,
        -3.75114687e-02],
       [-4.21746936e-01,  2.71122876e-01, -2.71937749e-01,
         1.37924456e-01, -9.25097962e-01, -1.51436193e+00,
        -1.59710977e+00,  1.22292747e+00, -1.54472120e+00,
         2.14491281e+00, -1.72435560e+00, -1.41231223e+00,
        -9.65782184e-01],
       [-3.22512363e-01,  1.13464560e+00,  8.29410133e-01,
         9.51016229e-01,  3.02304740e-01, -1.08997787e+00,
        -1.50226674e+00,  2.29671745e+00, -1.01309837e+00,
         2.21910325e-01, -4.03572588e-01, -7.22652605e-01,
        -6.34256929e-01],
       [-1.29004945e+00,  4.54294363e-02, -6.75765305e-01,
         6.25779520e-01, -9.86468097e-01,  4.60656205e-01,
         6.58046693e-01,  2.38619995e-01, -3.65183044e-01,
        -1.03338325e+00, -4.47598689e-01,  9.58392741e-01,
        -1.27078542e+00],
       [-9.17919802e-01, -1.02416121e+00, -9.32746478e-01,
        -1.87312253e-01, -8.02357692e-01,  1.96232289e+00,
         1.81723927e+00, -9.24652479e-01,  6.31609763e-01,
        -2.58840406e-01,  3.44871121e-01,  2.25629385e-01,
        -3.35884199e-01],
       [-6.61035048e-15, -1.08303776e+00, -2.40121032e+00,
        -1.32564073e+00, -1.41605904e+00,  1.08090984e+00,
         1.21656675e+00, -7.45687483e-01,  1.17984581e+00,
         9.72712468e-02,  6.97079925e-01,  8.14713651e-01,
        -8.59694103e-01],
       [ 1.52573156e+00, -4.25582959e-01,  1.26994929e+00,
         1.92672636e+00, -1.88656341e-01,  7.87105484e-01,
        -7.54060623e-01,  1.67033996e+00,  1.87760077e+00,
         3.52484591e+00, -1.72435560e+00, -9.38171239e-01,
        -3.35884199e-01],
       [-5.45790152e-01, -1.11247604e+00, -4.18784133e-01,
        -3.49930607e-01, -1.27286206e-01, -1.92242353e-01,
        -9.01594223e-02, -3.87757491e-01, -1.82437696e-01,
        -1.09570279e+00,  1.18136703e+00,  7.85977833e-01,
        -1.03208724e+00],
       [ 1.25283649e+00, -6.21838124e-01, -1.25091364e-01,
        -7.40214658e-01, -3.72766747e-01, -1.92242353e-01,
         4.26208178e-01, -7.45687483e-01,  3.07652101e-04,
        -3.62706231e-02,  9.17210428e-01,  2.97468929e-01,
         1.71957239e+00],
       [ 6.94642012e-01, -8.47531564e-01, -1.59355521e+00,
        -3.49930607e-01, -4.34136882e-01, -3.55466993e-01,
        -2.48231137e-01, -2.08792495e-01, -1.39520228e+00,
        -5.70438103e-01,  1.18136703e+00, -2.19775792e-01,
        -4.35341775e-01],
       [-1.61256181e+00,  6.17840334e-03,  1.41679567e+00,
         7.88397875e-01,  2.02066852e+00, -1.17159019e+00,
        -1.09128028e+00, -1.81947746e+00, -1.63055613e-02,
        -1.14911954e+00, -5.13637840e-02, -5.07133971e-01,
        -4.51918038e-01],
       [-4.83768544e-01, -2.98017102e-01, -5.65630517e-01,
        -8.97412401e-02, -9.25097962e-01, -1.92242353e-01,
         5.31589321e-01, -7.45687483e-01,  3.32571921e-01,
        -5.25924146e-01,  8.73184327e-01,  7.57242016e-01,
        -1.56860561e-01],
       [ 2.60490755e-01,  1.10520733e+00,  9.51782120e-02,
         7.88397875e-01, -5.56877152e-01, -6.32948880e-01,
        -1.33365691e+00,  9.54479978e-01, -5.31315178e-01,
         1.48610669e+00, -1.81240781e+00, -1.42668014e+00,
        -3.69036724e-01],
       [-1.01715438e+00, -6.90527432e-01, -1.37328563e+00,
        -1.00040403e+00, -9.86468097e-01,  3.79043885e-01,
         4.99974978e-01, -4.77239989e-01,  3.32571921e-01,
        -9.71063712e-01,  1.18136703e+00,  1.82525658e-01,
        -1.10502279e+00],
       [-1.27764513e+00, -9.65284662e-01,  5.72428961e-01,
         1.60148965e+00, -1.41605904e+00, -5.18691632e-01,
        -4.69531537e-01,  5.07067488e-01, -2.82116976e-01,
        -1.28266141e+00,  1.53357584e+00,  1.53789840e-01,
        -4.35341775e-01],
       [-2.23277790e-01,  6.83258722e-01,  1.26994929e+00,
         6.25779520e-01, -3.11396611e-01, -1.26952497e+00,
        -1.60764788e+00,  1.67033996e+00, -1.36197585e+00,
        -2.14326450e-01, -8.43833594e-01, -4.35294426e-01,
        -5.34799352e-01],
       [ 9.30324123e-01, -7.49403981e-01, -3.08649345e-01,
        -1.00040403e+00, -1.88656341e-01,  1.08090984e+00,
         1.18495241e+00, -1.10361747e+00,  4.65477628e-01,
         9.51939214e-01,  2.12792819e-01,  1.34632628e+00,
         9.40488035e-01],
       [-6.57429047e-01, -8.08280531e-01, -9.32746478e-01,
         3.00542811e-01,  1.18194334e-01, -1.36745976e+00,
        -1.52334297e+00,  1.67033996e+00, -2.82116976e-01,
         1.12109225e+00, -1.68032950e+00, -1.52725551e+00,
        -4.02189250e-01],
       [ 1.11638895e-01, -3.27455377e-01, -7.85900093e-01,
        -2.56154023e+00, -6.59160710e-02,  5.42268525e-01,
         7.73965950e-01, -7.45687483e-01, -4.81475538e-01,
        -3.12257154e-01,  3.88897221e-01,  1.13080765e+00,
         9.57064298e-01],
       [ 7.93876585e-01, -3.76519168e-01,  2.05313000e-01,
        -1.00040403e+00, -7.40987557e-01,  4.60656205e-01,
         7.73965950e-01, -4.77239989e-01,  3.99024775e-01,
         2.30813117e-01,  8.29158227e-01,  4.12412201e-01,
         1.85218249e+00],
       [ 1.61256181e-01,  1.83135144e+00, -2.35226153e-01,
        -5.12548962e-01,  1.18194334e-01,  5.25946061e-01,
         6.36970464e-01, -2.08792495e-01,  1.49826573e-01,
        -3.21159945e-01, -6.23703091e-01,  5.56091290e-01,
        -2.69579148e-01],
       [-7.93876585e-01, -5.82587091e-01, -5.65630517e-01,
        -2.46938983e-02,  3.73903230e+00,  2.97431565e-01,
         2.57598350e-01, -2.08792495e-01,  2.84116715e+00,
        -1.10460558e+00,  8.73184327e-01,  2.44786597e-02,
         5.82440759e-01],
       [ 1.58775317e+00, -2.39140553e-01,  3.52159384e-01,
        -1.45573542e+00, -3.11396611e-01,  2.97431565e-01,
         5.21051207e-01, -3.87757491e-01,  6.81449403e-01,
         7.50142685e-02,  2.56818920e-01,  1.38943001e+00,
         1.75272491e+00],
       [-3.72129649e-01,  1.92620810e-01,  1.68601404e-01,
         1.60148965e+00, -1.88656341e-01, -1.90610107e+00,
        -9.85899138e-01, -6.56204985e-01, -1.22907014e+00,
         2.75327073e-01, -1.32812070e+00, -1.80024578e+00,
        -6.67409454e-01],
       [-9.67537088e-01, -1.10266328e+00, -1.48342042e+00,
        -1.39068808e+00,  2.14340879e+00, -6.81916272e-01,
        -1.85002451e-01,  5.96549986e-02,  1.97728005e+00,
        -7.48493929e-01,  4.32923322e-01, -4.35294426e-01,
        -3.75114687e-02],
       [ 2.13354332e+00, -4.64833992e-01, -6.75765305e-01,
        -1.65087744e+00, -2.50026476e-01,  7.87105484e-01,
         1.00580446e+00, -4.77239989e-01,  6.81449403e-01,
         5.27572902e-02,  5.20975523e-01,  3.40572656e-01,
         9.40488035e-01],
       [-1.17841056e+00, -4.94272267e-01, -1.61802960e-01,
         1.21120560e+00, -6.79617422e-01, -8.77785839e-01,
        -3.53612280e-01,  7.75514982e-01, -1.63055613e-02,
        -1.17137652e+00,  1.62162804e+00, -5.07133971e-01,
        -8.82900870e-01],
       [ 1.36447538e+00,  1.89022799e+00,  3.15447788e-01,
        -5.72175692e-02,  6.09155415e-01,  8.68717804e-01,
         6.58046693e-01, -3.87757491e-01, -5.31315178e-01,
         7.05628728e-02, -4.03572588e-01,  1.03023229e+00,
         1.05652187e+00],
       [ 6.45024726e-01, -2.98017102e-01,  1.26994929e+00,
        -6.10119975e-01,  6.70525550e-01,  8.68717804e-01,
         9.32037665e-01, -3.87757491e-01, -1.82437696e-01,
         9.87550379e-01,  1.40149753e+00,  3.83676383e-01,
         1.81902996e+00],
       [-1.86064825e-01,  1.31127525e+00, -1.49565762e-02,
        -1.87312253e-01,  3.02304740e-01, -1.51436193e+00,
        -1.39688560e+00,  5.07067488e-01, -1.04632479e+00,
         8.83684555e-02, -1.24006850e+00, -1.23989733e+00,
        -2.86155410e-01]])

In [117]:
test_X_norm

array([[0.56622517, 0.46435845, 0.67105263, 0.86013986, 0.22619048,
        0.16877637, 0.0152439 , 0.78723404, 0.04545455, 0.21363636,
        0.3908046 , 0.29811321, 0.17333333],
       [0.43046358, 0.20570265, 0.69078947, 1.        , 0.45238095,
        0.44303797, 0.24695122, 0.27659574, 0.3986014 , 0.46363636,
        0.06896552, 0.02264151, 0.08888889],
       [0.7781457 , 0.3299389 , 0.51315789, 0.61538462, 0.1547619 ,
        0.22362869, 0.07012195, 0.65957447, 0.28671329, 0.7       ,
        0.08045977, 0.16603774, 0.29777778],
       [0.00993377, 0.        , 0.57894737, 0.47552448, 0.19047619,
        0.44303797, 0.5304878 , 0.19148936, 0.67482517, 0.09545455,
        0.27586207, 0.68301887, 0.17333333],
       [0.1589404 , 0.46435845, 0.33552632, 0.47552448, 0.11904762,
        0.71729958, 0.76829268, 0.68085106, 0.83566434, 0.02727273,
        1.        , 0.58867925, 0.072     ],
       [0.63245033, 0.10997963, 0.52631579, 0.38461538, 0.35714286,
        0.94936709, 0.97560976, 0.12765957, 0.56643357, 0.43636364,
        0.3908046 , 0.60377358, 0.85333333],
       [0.08940397, 0.24236253, 0.        , 0.44055944, 0.22619048,
        0.4556962 , 0.51829268, 0.27659574, 0.34265734, 0.11818182,
        0.82758621, 0.63773585, 0.34222222],
       [0.41059603, 0.15478615, 0.55921053, 0.47552448, 0.23809524,
        0.54852321, 0.59756098, 0.34042553, 0.35664336, 0.20454545,
        0.65517241, 0.46792453, 0.69333333],
       [0.18543046, 0.05702648, 0.14473684, 0.58741259, 0.        ,
        0.40506329, 0.46646341, 0.29787234, 0.21678322, 0.24363636,
        0.65517241, 0.83396226, 0.16444444],
       [0.14569536, 0.78004073, 0.55263158, 0.68531469, 0.13095238,
        0.09704641, 0.        , 0.85106383, 0.13286713, 0.16818182,
        0.22988506, 0.        , 0.35111111],
       [0.18211921, 0.598778  , 0.44736842, 0.68531469, 0.11904762,
        0.48523207, 0.13719512, 0.78723404, 0.21678322, 0.51363636,
        0.01149425, 0.11698113, 0.17333333],
       [0.8013245 , 0.16700611, 0.48026316, 0.30769231, 0.58333333,
        0.69620253, 0.78963415, 0.31914894, 0.65384615, 0.33090909,
        0.56321839, 1.        , 0.65777778],
       [0.04966887, 0.0407332 , 0.39473684, 0.68531469, 0.27380952,
        0.94092827, 0.50914634, 0.        , 0.43006993, 0.11      ,
        0.50574713, 0.70188679, 0.49866667],
       [0.82450331, 0.20977597, 0.67105263, 0.61538462, 0.5       ,
        0.69620253, 0.81402439, 0.42553191, 0.54195804, 0.38181818,
        0.59770115, 0.52075472, 0.84888889],
       [0.35430464, 0.42769857, 0.46052632, 0.61538462, 0.30952381,
        0.06329114, 0.22865854, 0.23404255, 0.14335664, 0.30909091,
        0.2183908 , 0.05660377, 0.18222222],
       [0.23509934, 0.31364562, 0.30921053, 0.68531469, 0.11904762,
        0.5907173 , 0.54878049, 0.27659574, 0.27972028, 0.        ,
        0.40229885, 0.56981132, 0.        ],
       [0.74503311, 0.15071283, 0.38157895, 0.33566434, 0.57142857,
        0.78059072, 0.82317073, 0.23404255, 0.58741259, 0.33181818,
        0.62068966, 0.92075472, 0.40444444],
       [0.41059603, 0.23625255, 1.        , 0.96503497, 0.54761905,
        0.62447257, 0.67378049, 0.72340426, 0.52447552, 0.14363636,
        0.66666667, 0.72830189, 0.44888889],
       [0.74503311, 0.25661914, 0.59868421, 0.44755245, 0.51190476,
        0.61181435, 0.62195122, 0.38297872, 0.29020979, 0.27727273,
        0.5862069 , 0.87169811, 0.86222222],
       [0.65231788, 0.3808554 , 0.39473684, 0.75524476, 0.14285714,
        0.08438819, 0.06402439, 0.59574468, 0.21328671, 0.68909091,
        0.17241379, 0.15471698, 0.25777778],
       [0.79801325, 0.16496945, 0.39473684, 0.35664336, 0.47619048,
        0.8649789 , 0.77134146, 0.27659574, 0.56293706, 0.39818182,
        0.44827586, 0.76981132, 0.57333333],
       [0.06291391, 0.12627291, 0.47368421, 0.75524476, 0.0952381 ,
        0.12658228, 0.23780488, 0.78723404, 0.42307692, 0.14545455,
        0.57471264, 0.52075472, 0.11111111],
       [0.41059603, 1.        , 0.28289474, 0.72027972, 0.0952381 ,
        0.62025316, 0.66463415, 0.36170213, 0.55594406, 0.05454545,
        0.20689655, 0.69056604, 0.04888889],
       [0.79139073, 0.17718941, 0.49342105, 0.27972028, 0.4047619 ,
        0.89451477, 0.8902439 , 0.44680851, 0.54195804, 0.43181818,
        0.57471264, 0.59622642, 1.        ],
       [0.50662252, 0.0101833 , 0.43421053, 0.40559441, 0.38095238,
        0.58227848, 0.25304878, 0.89361702, 0.        , 0.10636364,
        0.54022989, 0.2490566 , 0.37777778],
       [0.31788079, 0.30549898, 0.38157895, 0.58041958, 0.0952381 ,
        0.10126582, 0.01219512, 0.74468085, 0.07692308, 0.71818173,
        0.02298851, 0.13584906, 0.12888889],
       [0.34437086, 0.48472505, 0.57894737, 0.75524476, 0.33333333,
        0.21097046, 0.03963415, 1.        , 0.18881119, 0.32545455,
        0.36781609, 0.31698113, 0.21777778],
       [0.08609272, 0.2586558 , 0.30921053, 0.68531469, 0.08333333,
        0.61181435, 0.66463415, 0.5106383 , 0.32517483, 0.06909091,
        0.35632184, 0.75849057, 0.04711111],
       [0.18543046, 0.03665988, 0.26315789, 0.51048951, 0.11904762,
        1.        , 1.        , 0.23404255, 0.53496503, 0.22727273,
        0.56321839, 0.56603774, 0.29777778],
       [0.43046358, 0.02443992, 0.        , 0.26573427, 0.        ,
        0.7721519 , 0.82621951, 0.27659574, 0.65034965, 0.3       ,
        0.65517241, 0.72075472, 0.15733333],
       [0.83774834, 0.16089613, 0.65789474, 0.96503497, 0.23809524,
        0.69620253, 0.25609756, 0.85106383, 0.7972028 , 1.        ,
        0.02298851, 0.26037736, 0.29777778],
       [0.28476821, 0.01832994, 0.35526316, 0.47552448, 0.25      ,
        0.44303797, 0.44817073, 0.36170213, 0.36363636, 0.05636364,
        0.7816092 , 0.71320755, 0.11111111],
       [0.76490066, 0.12016293, 0.40789474, 0.39160839, 0.20238095,
        0.44303797, 0.59756098, 0.27659574, 0.4020979 , 0.27272727,
        0.71264368, 0.58490566, 0.84888889],
       [0.61589404, 0.07331976, 0.14473684, 0.47552448, 0.19047619,
        0.40084388, 0.40243902, 0.40425532, 0.10839161, 0.16363636,
        0.7816092 , 0.4490566 , 0.27111111],
       [0.        , 0.25050916, 0.68421053, 0.72027972, 0.66666667,
        0.18987342, 0.15853659, 0.0212766 , 0.3986014 , 0.04545455,
        0.45977011, 0.37358491, 0.26666667],
       [0.3013245 , 0.18737271, 0.32894737, 0.53146853, 0.0952381 ,
        0.44303797, 0.62804878, 0.27659574, 0.47202797, 0.17272727,
        0.70114943, 0.70566038, 0.34577778],
       [0.5       , 0.47861507, 0.44736842, 0.72027972, 0.16666667,
        0.32911392, 0.08841463, 0.68085106, 0.29020979, 0.58363636,
        0.        , 0.13207547, 0.28888889],
       [0.1589404 , 0.10590631, 0.18421053, 0.33566434, 0.08333333,
        0.5907173 , 0.61890244, 0.34042553, 0.47202797, 0.08181818,
        0.7816092 , 0.55471698, 0.09155556],
       [0.08940397, 0.04887984, 0.53289474, 0.8951049 , 0.        ,
        0.35864979, 0.33841463, 0.57446809, 0.34265734, 0.01818182,
        0.87356322, 0.54716981, 0.27111111],
       [0.37086093, 0.3910387 , 0.65789474, 0.68531469, 0.21428571,
        0.16455696, 0.00914634, 0.85106383, 0.11538462, 0.23636364,
        0.25287356, 0.39245283, 0.24444444],
       [0.67880795, 0.09368635, 0.375     , 0.33566434, 0.23809524,
        0.7721519 , 0.81707317, 0.19148936, 0.5       , 0.47454545,
        0.52873563, 0.86037736, 0.64      ],
       [0.25496689, 0.0814664 , 0.26315789, 0.61538462, 0.29761905,
        0.13924051, 0.03353659, 0.85106383, 0.34265734, 0.50909091,
        0.03448276, 0.10566038, 0.28      ],
       [0.4602649 , 0.18126273, 0.28947368, 0.        , 0.26190476,
        0.63291139, 0.69817073, 0.27659574, 0.3006993 , 0.21636364,
        0.57471264, 0.80377358, 0.64444444],
       [0.64238411, 0.17107943, 0.46710526, 0.33566434, 0.13095238,
        0.61181435, 0.69817073, 0.34042553, 0.48601399, 0.32727273,
        0.68965517, 0.61509434, 0.88444444],
       [0.47350993, 0.6293279 , 0.38815789, 0.44055944, 0.29761905,
        0.62869198, 0.65853659, 0.40425532, 0.43356643, 0.21454545,
        0.31034483, 0.65283019, 0.31555556],
       [0.21854305, 0.12830957, 0.32894737, 0.54545455, 1.        ,
        0.56962025, 0.54878049, 0.40425532, 1.        , 0.05454545,
        0.70114943, 0.51320755, 0.544     ],
       [0.85430464, 0.19959267, 0.49342105, 0.23776224, 0.21428571,
        0.56962025, 0.625     , 0.36170213, 0.54545455, 0.29545455,
        0.54022989, 0.87169811, 0.85777778],
       [0.33112583, 0.2892057 , 0.46052632, 0.8951049 , 0.23809524,
        0.        , 0.18902439, 0.29787234, 0.14335664, 0.33636364,
        0.12643678, 0.03396226, 0.20888889],
       [0.17218543, 0.0203666 , 0.16447368, 0.25174825, 0.69047619,
        0.3164557 , 0.42073171, 0.46808511, 0.81818182, 0.12727273,
        0.5862069 , 0.39245283, 0.37777778],
       [1.        , 0.15274949, 0.30921053, 0.1958042 , 0.22619048,
        0.69620253, 0.7652439 , 0.34042553, 0.54545455, 0.29090909,
        0.6091954 , 0.59622642, 0.64      ],
       [0.11589404, 0.14663951, 0.40131579, 0.81118881, 0.14285714,
        0.26582278, 0.37195122, 0.63829787, 0.3986014 , 0.04090909,
        0.89655172, 0.37358491, 0.15111111],
       [0.79470199, 0.64154786, 0.48684211, 0.53846154, 0.39285714,
        0.71729958, 0.66463415, 0.36170213, 0.29020979, 0.29454545,
        0.36781609, 0.77735849, 0.67111111],
       [0.60264901, 0.18737271, 0.65789474, 0.41958042, 0.4047619 ,
        0.71729958, 0.74390244, 0.36170213, 0.36363636, 0.48181818,
        0.83908046, 0.60754717, 0.87555556],
       [0.3807947 , 0.52138493, 0.42763158, 0.51048951, 0.33333333,
        0.10126582, 0.07012195, 0.57446809, 0.18181818, 0.29818182,
        0.14942529, 0.18113208, 0.31111111]])

In [123]:
dataframe = pd.DataFrame([[1,3,4],
               [4,6,8]])
dataframe

   0  1  2
0  1  3  4
1  4  6  8

In [138]:
dataframe.columns=['age','diseases','score']
arr= dataframe.iloc[1:,1].values

arr

array([6])